Top 10 basketball teams in europe plus all Yugoslavian teams.

In [5]:
teams = {
    "Spain": 758.9,
    "France": 712.9,
    "Serbia": 711.5,
    "Slovenia": 703.5,
    "Lithuania": 673.7,
    "Greece": 670.8,
    "Italy": 647.6,
    "Germany": 640.6,
    "Czech_Republic": 597.7,
    "Poland": 589.9,
    "Croatia": 436.7,
    "Bosnia": 326.1,
    "Macedonia": 195.3
}

Add Yugoslavia to dictionary where points are equal to the average of all Yugoslavian teams.

In [7]:
yugoslavia = ["Slovenia", "Croatia", "Serbia", "Bosnia", "Macedonia"]
sum_points = 0

for country in yugoslavia:
    sum_points += teams[country]

teams["Yugoslavia"] = sum_points / len(yugoslavia)
print(teams["Yugoslavia"])

474.62000000000006

Print all teams with more than 700 points.

In [8]:
for team in teams:
    points = teams[team]
    if points > 700:
        print("Team {} has achieved {} points.".format(team, points))

Team Spain has achieved 758.9 points.
Team France has achieved 712.9 points.
Team Serbia has achieved 711.5 points.
Team Slovenia has achieved 703.5 points.

Print all leap years from 1900 to 2020

In [11]:
def is_leap_year(year: int):
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)


for i in range(1900, 2021):
    if is_leap_year(i):
        print("{} is a leap year.".format(i))

1904 is a leap year.
1908 is a leap year.
1912 is a leap year.
1916 is a leap year.
1920 is a leap year.
1924 is a leap year.
1928 is a leap year.
1932 is a leap year.
1936 is a leap year.
1940 is a leap year.
1944 is a leap year.
1948 is a leap year.
1952 is a leap year.
1956 is a leap year.
1960 is a leap year.
1964 is a leap year.
1968 is a leap year.
1972 is a leap year.
1976 is a leap year.
1980 is a leap year.
1984 is a leap year.
1988 is a leap year.
1992 is a leap year.
1996 is a leap year.
2000 is a leap year.
2004 is a leap year.
2008 is a leap year.
2012 is a leap year.
2016 is a leap year.
2020 is a leap year.

Create lists within a list with a list of your 3 favourite animals, 2 favourite decimal numbers and a list [True, True, False, False]

In [37]:
my_data = [["Capybara", "Panda", "Dog"], [4.2, 6.9], [True, True, False, False]]

Update the list so that the last list will contain only false values.

In [39]:
for i in range(len(my_data[2])):
    my_data[2][i] = False
print(my_data[2])

[False, False, False, False]

Print all first values of all sub lists in one line

In [17]:
print([item[0] for item in my_data])

['Capybara', 4.2, True]