# Introduction
### What is League of Legends?
- League of Legends is a team-based strategy game where two teams of five powerful champions face off to destroy the other's base.
### Goal
- We want to predict which team will win based on key information that can affect the win or loss in the game.

# About dataset
### Contents
- 26904 Challenger tier ranked games
- 65896 Grandmaster tier ranked games
- 107125 Master tier ranked games
- Data includes <b>Blue team <b> and <b>Red team</b> information
- Data contains key information that can affect the win or loss in the game
- League of Legends includes objects, champions and minions
- The heart of the data is the result of the match between the blue and red team.
- Therefore, the factor analysis that affects the win or loss of the game and the methodology to predict the win or loss of the game will be the most important points in analyzing the data.

### Additional data description
- Ward : Map lighting tools
- Gold : Money to buy items
- Tower : Attack turrets protecting our camp or enemy camp
- Inhibitors : You can summon our team's superminions(very very powerful) by breaking the suppressor.
- Dragon, baron : Objects that can receive buffs when destroyed
- Minion : Small summoners from each team who can earn gold by killing
- Level : champion level (min : LVL 1 / max : LVL 18)

### Prepare data
Combine all 3 csv into one dataframe.

In [45]:
import pandas as pd

challenger_games = pd.read_csv("data/Challenger_Ranked_Games.csv", delimiter=",")
grandmaster_games = pd.read_csv("data/GrandMaster_Ranked_Games.csv", delimiter=",")
master_games = pd.read_csv("data/Master_Ranked_Games.csv", delimiter=",")

df = pd.concat([challenger_games, grandmaster_games, master_games], axis=0)
df.head()

,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
0,4247263043,1323,0,1,0,0,0,0,0,0,...,68,73016,49832,533,64,12.8,138,8,38711,60463
1,4247155821,1317,1,0,0,0,1,0,2,0,...,8,44218,37136,571,59,11.8,134,3,24829,14105
2,4243963257,932,0,0,0,0,0,0,0,0,...,20,30797,35364,400,50,10.0,89,5,12589,45201
3,4241678498,2098,0,0,0,1,1,0,1,1,...,72,125866,70528,832,84,16.8,205,9,65312,88202
4,4241538868,2344,1,1,1,1,1,1,2,2,...,83,131536,74596,794,85,17.0,227,7,86431,64141

In [46]:
print("Number of rows: ", df.shape[0])
print("Number of columns: ", df.shape[1])

Number of rows:  199925
Number of columns:  50

Description of our data.

In [47]:
df.describe()

,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
count,1.999250e+05,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,...,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000,199925.000000
mean,4.165346e+09,1433.434008,0.495956,0.506535,0.515863,0.236684,0.403616,0.382794,1.356744,0.297737,...,40.247978,69241.998725,48022.229046,505.554458,64.914903,12.982981,125.729318,5.682716,24775.338692,36892.539087
std,9.232801e+07,432.490237,0.499985,0.499959,0.499750,0.425048,0.490623,0.486070,1.254504,0.535042,...,29.041446,37440.925824,16271.618084,181.302212,14.953548,2.990710,66.887707,3.633332,15428.891250,26916.048868
min,3.163679e+09,132.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.136114e+09,1125.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,20.000000,41312.000000,36472.000000,386.000000,55.000000,11.000000,84.000000,3.000000,13596.000000,12739.000000
50%,4.191588e+09,1420.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,35.000000,64284.000000,48029.000000,522.000000,66.000000,13.200000,128.000000,5.000000,21733.000000,32483.000000
75%,4.222887e+09,1732.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,2.000000,1.000000,...,54.000000,90679.000000,59101.000000,631.000000,75.000000,15.000000,172.000000,8.000000,32589.000000,57311.000000
max,4.261026e+09,3758.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000,4.000000,...,229.000000,359184.000000,141692.000000,1443.000000,145.000000,29.000000,488.000000,29.000000,206758.000000,197135.000000